<section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="start">
                        <div class="start-c1"></div>
                        <div class="start-c2 dp-center-tag font-cus-2">
                            <h4 class="font-cus-1">Top Learn chào mừng bạn</h4>
                            <p>
                                Hãy bắt đầu những bài học đầu tiên của bạn, bắt đầu ngay hôm nay. Hãy lựa chọn các
                                môn
                                học của bạn hoặc tìm kiếm trên thanh tìm kiếm.
                            </p>
                        </div>
                        <div class="start-c3 dp-center-tag">
                            <a title="Bắt đầu ngay" class="get-start" href="sets.html"><i
                                    class="fa fa-arrow-circle-o-right fa-cus" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="start">
                        <div class="home-slider owl-carousel js-fullheight w-100pt">
                            <div class="slider-item js-fullheight"
                                style="background-image:url(../source/src/slider-1.jpg);">
                                <div class="container">
                                    <div
                                        class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                                        <div class="col-md-12 ftco-animate dp-center-tag border-r-10px">
                                            <div class="text w-100 text-center">
                                                <h4 class="cus-h4">Hơn 100 000 bạn học</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item js-fullheight"
                                style="background-image:url(../source/src/slider-2.jpg);">
                                <div class="container">
                                    <div
                                        class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                                        <div class="col-md-12 ftco-animate dp-center-tag border-r-10px">
                                            <div class="text w-100 text-center">
                                                <h4 class="cus-h4">Hàng nghìn câu hỏi và bài tập</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item js-fullheight"
                                style="background-image:url(../source/src/slider-3.jpg);">
                                <div class="container">
                                    <div
                                        class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                                        <div class="col-md-12 ftco-animate dp-center-tag border-r-10px">
                                            <div class="text w-100 text-center">
                                                <h4 class="cus-h4">Cộng đồng người dùng đang ngày càng tăng</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-12">
                            <div class="central-meta">
                                <div class="title-block">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="align-left">
                                                <h5><span>Có thể bạn cần</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- title block -->
                            <div class="central-meta">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="learning.html" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="#" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="#" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="#" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="#" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="#" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="#" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 merged5">
                                        <div class="wrap min-height-150 item-cus">
                                            <a class="" href="#" title="" data-strip-group="mygroup"
                                                data-strip-group-options="loop: false">
                                                <div class="strip">
                                                    <p class="title-cus"><img class="fix-size-40 img-cus"
                                                            src="../source/src/name.png"> Tài liệu của bạn</p>                                              
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/all (1).png"> 10 tài liệu</p>
                                                    <p class="p-cus"><img class="img-cus"
                                                            src="../source/src/writer.png"> Thắng Nguyễn</p>
                                                    <p class="p-cus mb-0">
                                                        <img class="img-cus" src="../source/src/schedule.png"> 24/05/2001
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div><!-- photos -->
                        </div><!-- centerl meta -->
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="align-left">
                                <h5><span>Top 10 thành viên có thành tích nổi bật nhất</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-20">
                            <div class="wrap min-height-80">
                                <div class="row">
                                    <div class="col-lg-4" style="float: left; display: flex;">
                                        <div class="fix-size-80 dp-center-tag">
                                            <img class="fix-size-60 avt-cus"
                                                src="../source/src/tu-giac-trong-hoc-tap.jpg" alt="">
                                        </div>
                                        <div class="info-cus">
                                            <p>
                                                Tên: Thắng Nguyễn
                                                <br>
                                                Trường: Đại học FPT
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 dp-center-tag">
                                        <div class="row">
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom: 3px;">
                                                <a href="learning.html" class="form-control btn btn-primary a-cus px-3 ">SWR301</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-cus">
                                            <p>
                                                Số giờ học: 20 giờ
                                                <br>
                                                GPA : 8.0
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>